export(WaveICA)
export(var_select)
export(pca)
export(R2)
export(unbiased_stICA)
export(normFact)
export(SVM_MODEL)
export(correlation)


import(waveslim)
import(JADE)
import(corpcor)
import(pROC)
import(parallel)
import(plsdepot)
import(fdrtool)
import(scatterplot3d)
import(ggfortify)
import(RColorBrewer)
import(ggplot2)
import(graphics)
import(grDevices)
import(stats)


importFrom("waveslim",modwt,imodwt)
importFrom("pROC",roc)
importFrom("parallel",mclapply)
importFrom("plsdepot",plsreg2)
importFrom("graphics",pairs)
importFrom("stats",cor,var,cov,smooth)







